/* ------------ 
   Google Fonts
   ------------ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* ------------------------ 
   Typography and Reset CSS
   ------------------------ */
* { max-height: 100000px; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
body {
	margin: 0;
	min-width: 320px;
	color: #555;
	font: 16px/24px 'Open Sans', Arial, sans-serif !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	background: #eee url('http://optipixels.com/rfagears/images/bg.jpg') no-repeat 50% 0;
	background-size: cover;
	background-attachment: fixed;
}
img {
	border-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover,
a:focus,
a:active { 
	color: #000;
	text-decoration: none;
}
*:focus{ outline: none !important; }
input,
textarea,
select {
	font: 14px/16px 100% 'Open Sans', Arial, sans-serif;
	vertical-align: middle;
	color: #555;
}
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea { -webkit-appearance: none; }
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
::-webkit-input-placeholder { color: #fff; }
:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
:-ms-input-placeholder { color: #fff; }
p{ font-family: 'Open Sans', Arial, sans-serif !important; }
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #555;
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 700;
	margin-top: 0px;
}
[class*="col-md"], 
[class*="col-lg"], 
[class*="col-sm"], 
[class*="col-xs"] {
	display: inline-block;
	float: none;
	vertical-align: top;
	margin: 0 -4px 0 0;
}
#wrapper{
	max-width: 1170px;
	margin: 0 auto;
}
#header:after{
	display: block;
	clear: both;
	content: '';
}
#header{
	background: #000;
	padding: 16px 0;
	margin: 0 0 30px;
	/*margin: 0 -9999px;*/
}
#header .logo{
	float: left;
}
#header .nav-area{
	float: right;
	padding: 28px 0;
}
#nav{ float: left; }
#nav ul{
	margin:0;
	padding:0;
	list-style: none;
	font-family: 'Open Sans', Arial, sans-serif !important;
}
#nav ul li{
	float: left;
	margin: 0 0 0 20px;
	position: relative;
}
#nav ul li.active:after,
#nav ul li:hover:after{
	width: 100%;
}
#nav ul li:after{
	position: absolute;
	left: 0;
	bottom:-10px;
	width: 0;
	height: 2px;
	content: '';
	background: #ffcb08;
	 -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#nav ul a{
	color: #ffcb08;
}
.nav-area .search-box{
	float: left;
	margin: 0 0 0 30px;
}
.nav-area .search-box:hover .search-form{
	opacity: 1;
	width: 250px;
}
.nav-area .search-box .search-form{
    float: left;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    width: 0;
    z-index: 999;
    padding: 0 16px;
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.nav-area .search-box input[type="search"]{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border:none;
    border-bottom: 1px solid #fff;
    height: 32px;
    padding: 0 30px 0 10px;
    width: 100%;
}
.nav-area .search-box input[type="submit"]{ display: none;  }
.banner-inner{ 
	background: #ffcb08;
	margin: 0 0 30px;
	/*margin: 0 -9999px;
	padding: 0 9999px;*/
}
.banner {
	background: #ffcb08;
	margin: 0 0 30px;
	background: #ffcb08 url('http://optipixels.com/rfagears/images/banner3.png') no-repeat 100% 0;
	/*background-size: cover;*/
	position: relative;
	/*margin: 0 -9999px;
	padding: 0 9999px;*/
}
/*.banner:after{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.6);
}*/
.banner>.container{ /*background: #ffcb08 url('http://optipixels.com/rfagears/images/banner.png') no-repeat -250px 0;*/ }
.banner-inner .desc{ text-align: center; }
.banner-inner .desc,
.banner .desc{
	padding: 80px 40px;
	/*color: #fff;*/
	position: relative;
	z-index: 10;
}
.banner-inner h2{ margin: 0;  }
.banner-inner h2,
.banner h2 {
	/*color: #fff;*/
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin:0 0 40px;
}
.banner-inner h2 strong,
.banner h2 strong{
	font-weight: 700;
	display: block;
}
.banner p {
    font-size: 24px;
    text-align: justify;
    font-weight: 300;
}
.desc-box{
	margin: 0 0 30px;
	position: relative;
	z-index: 99;
	padding: 30px 0;
	background:#ffcb08;
}
.desc-box figure{ 
	position: relative;
	display: block;
}
.desc-box figure img{
	width: 100%;
	height: auto;
}
/*.desc-box figure:after{
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0.2);
}*/
.desc-box .text{
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	bottom:0;
	width: 100%;
	color: #fff;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 20px;
}
.desc-box .text h2{ color: #fff; }
.desc-box .text p{ margin: 0; }
#main{ 
	padding: 20px 0;
	background:#eee;
	margin: 0 0 30px;
}
#main p,
#main ul{
	font-size:16px !important;
	line-height: 24px !important;
}
#main .title{ 
	background: url('http://optipixels.com/rfagears/images/widget-title.png') repeat-x 0 50%;
	margin: 0 0 20px;
}
#main .text-block .title h2{ background: #fff; }
#main .title h2{
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	background:#eee;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 0 0;
	margin: 0;
}
#main .content img{
	width: 100%;
	height: auto;
	display: block;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#main .content .items{ margin-bottom: 30px;  }
#main .content .items figure{
	border: 3px solid #ffcb08;
	padding: 20px;
	background:#fff;
	overflow: hidden;
	position: relative;
}
#main .content .items:hover img{
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
}
#main .content .items:hover h3{
	bottom: 0;
}
#main .content .items h3{
	padding: 12px;
	background: rgba(255,203,8,0.8);
	font-weight: 300;
	position: absolute;
	left: 0;
	bottom:-50px;
	width: 100%;
	margin: 0;
	color: #000;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-ms-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.widget-cat{
	margin:0;
	padding:0;
	list-style: none;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-size:12px !important;
}
.widget-cat li{
	border-top:1px solid #ffcb08;
	background: #000;
	position: relative;
}
.widget-cat li a{ 
	color: #fff;
	display: block;
	padding: 10px 20px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.widget-cat li a:hover{
	background: #ffcb08;
}
.widget-cat li:after{
	position: absolute;
	top:50%;
	right: 20px;
	margin: -6px 0 0;
	color: #fff;
	width: 8px;
	height: 12px;
	content: '';
	background: url('http://optipixels.com/rfagears/images/ico-arrow.png') no-repeat;
}
#main .text-block{
	background:#fff;
	padding: 30px;
}
#main .text-block h2.main{
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 30px;
}
#main .text-block p{ 
	margin: 0 0 24px;
	font-weight: 300;
}
#main .text-block ul.list{
	margin: 0 0 24px;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', Arial, sans-serif !important;
}
#main .text-block ul.list li{
	padding: 0 0 0 36px;
	position: relative;
	margin: 0 0 5px;
}
#main .text-block ul.list li:after{
	position: absolute;
	left: 0;
	top:12px;
	width: 24px;
	height: 2px;
	background:#ffcb08;
	content: '';
}
#main .text-block ul.list span{ 
	display: block;
	font-size: 12px;
	font-style: italic;
}
#footer {
	background: #000;
	color: #fff;
	/*margin: 0 -9999px;*/
	padding: 40px 0;
}
#footer .logo{ margin: 0 0 30px; }
#footer .title{ 
	background: url('http://optipixels.com/rfagears/images/widget-title2.png') repeat-x 0 50%;
	margin: 0 0 30px;
}
#footer .title h2{
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	background:#000;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px 0 0;
	margin: 0;
	color:#ffcb08;
}
#footer .links{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', Arial, sans-serif !important;
}
#footer .links li{
	margin: 0 0 10px;
}
#footer .links a{
	color: #fff;
}
#footer .links a:hover{
	color:#ffcb08;
}
/* Ebay Styling */
.pagecontainer>p{ display: none; }
.stBadge-midContent,
.tb_v4bc,
#gh{ background:#fff; }
.pagewidth{ overflow: hidden; }
/*.pageminwidth{
	max-width: 1170px;
	margin: 0 auto;
}*/
.cmpBr:after{
	display: block;
	clear: both;
	content: '';
}
.cmpBr{ 
	height: auto;
	background-color: #ffcb08;
}
.li td.details div.ttl{ font-size:18px; }
table.gallery div.ttl{
	margin:0 0 20px;
	font-size:18px;
	font-family: 'Open Sans', Arial, sans-serif !important;
	font-weight: 300;
	padding: 0 15px;
}
table.nol td.picture{
	width: 94px;
}
table.gallery table.fixed{ 
	width: 100%;
	padding: 0 15px;
	border-collapse: separate;
}
table.gallery table.fixed span{
	font-family: 'Open Sans', Arial, sans-serif !important; 
	font-weight: 400;
	font-size:16px;
}
div.cmpb{
	background-color: #ffcb08;
}
.lview .li{
	border-collapse: separate;
	padding: 20px;
}
.lview .li td{ vertical-align: middle; }
td#CentralArea div.v4stabl{ /*width:790px;*/  margin:0px 0px 0px -65px;  padding:5px 5px;  border:0;  font-size:11px;  color:#000;  display:none; }
td#CentralArea div.v4stabl a{ color:#000;  display:none; }
td#CentralArea{margin:-14px 0px 0px -3px !important;  padding:0px !important;  float:left !important;  width:100%; /*width:790px !important;*/ }
/* Can chage to color */
td#CentralArea table.v4stw{ width:790px; /*width:100%;*/  margin:0px 0px 0px 0px !important;  padding:0px 0px 0px 0px;  border:0;  background: #ffcb08;/*background:url(images/eservices_ebay_r3_top.png) center top no-repeat;*/  height:33px;  }
td#CentralArea td.r3_t, .r3_t b, .r3_t i, .r3_bl b, .r3_bl i{ margin:0;  padding:0;  border:0;  background:none; }
td#CentralArea td.r3_c{ margin:0;  padding:0;  border:0; }
td#CentralArea div.r3_cm, .bp, .tp{ margin:0;  padding:0;  border:0; }
td#CentralArea div.fpcc{ width: 847px; background-color: #000; /*margin:0 0 10px 0;  *margin:0 0 5px 0;*/  padding:5px 0; border:1px solid #eee; border-bottom:none;  *padding:0 10px 0px 10px;  border:0;  display:block;  /*height:1px; */ }
td#CentralArea div.fpcc span.keywordClass{ background-color:transparent;  color:#fff; }
td#CentralArea div.fpcc .matchClass, .countClass{ color:#fff; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px;}
td#CentralArea div.fpcc .countClass{ color:#fff;  font-size:14px;  font-weight:bold;  padding-left:10px; }
/* Can chage to color */
td#CentralArea .ctrlbr{ /*margin:-4px 0 0 0;*/  padding:6px 10px;  border:0; background:#000; /*background:url(images/eservices_ebay_ctrl_bar_bg.png) no-repeat center top;*/ }
td#CentralArea span.pdmt {display:block;  float:left;  padding-right:20px}
span.pdmt .label { line-height: 16px; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px;  color:#fff;  display:block;  float:left;  padding:0; }
/* Can chage to color */
td#CentralArea .ctrlbr span.pdmt .cur {background:url(images/gridSelects.gif) no-repeat 0 -35px;  color:#fff; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px; line-height: 16px; display:block;  float:left;  /*height:21px;*/  width:163px;  margin-top:0px;  padding-left:6px; }
td#CentralArea .ctrlbr span.pdmt:first-child .cur {background-position:0 0; width:134px}
td#CentralArea .ctrlbr span.pdmt .cur  img {display:none; }
td#CentralArea div.rs_box{ background-color: #ffcb08; margin:0px 0px 0px 0px;  padding:0; border-width:1px;  border-style:solid;  border-color:#d6d6d6;  clear:both; width:847px; /*width:788px; */}
td#CentralArea div.rs_box span.pdmt .label{ color:#fff; }
td#CentralArea div.rs_box span.pdmt .cur{ color:#fff;}
/* Can chage to color */
td#CentralArea div.rs_box .cmpBr{ margin:0;  padding:0;  border:0;  color:#fff;  background:url(images/black_bg.png) no-repeat center top;  height:28px;  display:none !important; }
td#CentralArea div.rs_box .cmpBr a{ color:#fff; }
/* Can chage to color */
td#CentralArea td.r3_bl{ margin:0;  padding:0;  border:0;  background:url(images/r3_bottom.png) left bottom no-repeat;  height:10px; }
td#CentralArea div.itemseparator{ margin:0;  padding:0px 0;  border:0; }
div.ttl.g-std{margin:0px;  padding:0px;  font-family:Arial, Helvetica, sans-serif;  font-size:11px;  color:#262626;  font-weight:bold;  margin-top:0px !important; }
div.ttl.g-std a:link,div.ttl.g-std a:active,div.ttl.g-std a:visited{color:#262626  !important;  text-decoration:none; }
div.ttl.g-std a:hover{text-decoration:underline; }
div.msg{color:#5d5d5d !important; }
/* Can chage to color */
td#CentralArea table.gallery{ margin:0; padding:0px 4px 0px 4px;  border:0; background: #fff; /*background:url(images/eservices_ebay_gallery_bg.jpg) left top no-repeat;*/  width:266px !important;  height:367px !important;  color:#000; transition:0.8s;}
td#CentralArea table.gallery:hover {box-shadow:0px 0px 15px #7f7f7f !important;}
td#CentralArea td.gallery{ margin:0;  padding:0px 0px 0px 0px;  border:0;  width:266px !important;  height:367px !important;  color:#000; }
td#CentralArea table.gallery td.picture div.image{margin:0 auto;  padding:0px;  border:0;  vertical-align:middle; }
td#CentralArea .grid td.left{ margin:0;  padding:0;  border:0; }
td#CentralArea div.rs-pview{ margin:0;  padding:0 0 0 12px;  border:0; }
td#CentralArea div.dynpg{ margin:0;  padding:0px 0 0 0;  border:0; }
td#CentralArea div.dynpg table.pgbc{color:#fff;  font-weight:normal;  font-size:11px;  margin:0px;  padding:0;  background-color:#000;}
td#CentralArea div.dynpg table.pgbc a{ color:#fff; color: #fff; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px; line-height: 14px;}
td#CentralArea div.dynpg span.pipe{ color:#fff; }
table.gallery td.camera{ margin:0;  padding:0;  border:0;  vertical-align:middle; }
table.gallery td.picture{ margin:0;  padding:0;  border:0; }
table.gallery img{ margin:0;  padding:0;  border:0; vertical-align:middle; }
td#CentralArea table.gallery td.picture div.image img{ margin:0;  padding:15px 0 0 0;  border:0;  vertical-align:middle; }
table.gallery .mi{ min-height:10px;  margin-top:25px;  margin-bottom:0px;  padding:0px 15px; border:0;  text-align:left;  height:20px; }
td#CentralArea .grid{ margin:10px 0 0 0;  padding:0;  border:0; }
td#CentralArea .time2 { padding: 0; }
td#CentralArea .time2 span { color: #333; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 300; font-size:14px; padding: 0 0 0 10px;  }
td#CentralArea .time2 .label{ color: #333; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px; padding: 0;  }
.dynpg .l{
	padding-left: 15px;
}
.dynpg .r .form label,
.dynpg span.page{ color: #fff; font-family: 'Open Sans', Arial, sans-serif !important; font-weight: 400; font-size:14px; line-height: 14px; }
.pager .next>a{ float: none;  }
.dynpg .r .form input.page{ border:1px solid #aaa; }
@media screen and (max-width: 1199px) {
	#nav{ display: none; }
	.slicknav_menu {
	    display: block;
	    clear: both;
	    background: none;
	    position: relative;
	    padding: 12px 20px !important;
	    background: none !important;
	}
    .slicknav_menu .slicknav_nav {
    	background: #fff;
    	position: relative;
    	top:7px;
    	padding: 7px 0 0;
    }
    .slicknav_menu .slicknav_nav li { margin: 0 0 10px; }
    .slicknav_menu .slicknav_nav li>a {
        border: 2px solid #f00;
        color: #003655;
        font-weight: 500;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin: 5px 0 !important;
    }
    .slicknav_menu .slicknav_nav li>a a{
    	color: #003655;
    }
    .slicknav_menu .slicknav_nav li a:hover a,
    .slicknav_menu .slicknav_nav li a:hover {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #f00;
		color: #fff !important;
	}
    .slicknav_menu .slicknav_btn {
	    background-color: #f00;
	    border-radius: 2px;
	    margin: 0;
	    text-decoration: none;
	    text-shadow: none;
	    padding: 10px 10px;
	}
	.slicknav_nav .slicknav_arrow{
		font-size: 18px !important;
		float: right;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-ms-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	
}